.alert-message{
    color:red;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2%;
}

.cardform{
    box-shadow: 1rem 1rem 5rem black;
    padding:15%;
    border-radius:10px;
}